<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta http-equiv="Content-Language" content="en-us" />

	<title>CompanyName - PageName</title>
	<meta name="author" content="Author" />
	
	<meta name="description" content="Description" />
	<meta name="keywords" content="Keywords" />
	
	<meta http-equiv="imagetoolbar" content="no" />
	<meta name="MSSmartTagsPreventParsing" content="true" />
	
	<style type="text/css" media="all">@import "styles/main.css";</style>
</head>

<body>

<div id="page-container">

	<div id="main-nav">Main Nav</div>
	
	<div id="main-header">Header</div>
	
	<div id="main-sidebar">
		{sidebar}
	</div>
	
	<div id="main-content">
		{content}
	</div>

	<div id="main-footer">Footer</div>

</div>

</body>
</html>