@import url("layout.css");
@import url("lightbox.css");


/* defaults */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {  
margin:0; 
padding:0; 
}

p, ul, ol, dl, blockquote, form, pre, table
{
margin: 0 0 1em;
}




h1,h2,h3,h4,h5,h6 { 
font-size:100%; 
font-weight:normal;
margin: 0em 0 0.5em;
}

h1 {font-size:2.2em; margin-top:0;}
h2 {font-size:1.9em}
h3 {font-size:1.4em}
h4 {font-size:1.2em}
h5 {font-size:1em}
h6 {font-size:0.8em}

table { 
border-collapse:collapse; 
border-spacing:0; 
}


img {  
border:0; 
} 









html body {
font-family: arial, verdana, sans-serif;

font-size:12px;
color:#333;
}

h1,h2,h3,h4,h5,h6 {
color:#006;
font-weight:normal;
font-family: arial, verdana, sans-serif;
}

a:link {
color:#00e;
}

a:visited {
color:#006;
}

a:hover {
color:#006
}

/* ul in content need bullets and margins */

#content ul{
margin-left:20px;
}