
/* Reset v1.0 | 20080212 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body {line-height:1;}
ol,ul {list-style:none;}
blockquote,q{quotes:none;}
blockquote:before, blockquote:after,q:before,q:after{content:'';content: none;}
/* remember to define focus styles! */
:focus {outline:0;}
/* remember to highlight inserts somehow! */
ins {text-decoration:none;}
del {text-decoration:line-through;}
/* tables still need 'cellspacing="0"' in the markup */
table {border-collapse:collapse;border-spacing:0;}

/* Type */
body { font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;color:#333;font-size:12px;line-height:18px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal;color:#252525; }
h1 { font-size:28px;line-height:36px;margin:0 0 18px 0;padding:0;font-weight:bold;letter-spacing:-1px; }
h2 { font-size:18px;font-size:20px;line-height:36px;margin:0 0 18px 0;padding:0;font-weight:bold; }
h3 { font-size:15px;line-height:18px;margin:0 0 18px 0;padding:0;font-weight:bold; }
h4 { font-size:13px;line-height:18px;margin:0 0 18px 0;padding:0;font-weight:bold; }
h5 { font-size:13px;line-height:18px;margin: 0 0 0 0;padding:0;font-weight:bold; }
h6 { font-size:13px;line-height:18px;margin: 0 0 0 0;padding:0;font-style:italic; }
p { font-size:13px;margin:0 0 18px 0;padding:0;line-height:18px; }
ul,ol { margin: 0 0 18px 0;padding:0; }
ul li, ol li { font-size:13px;line-height:18px;margin:0 0 0 20px;list-style:none; }
a { color:#600;}
a:hover { color:#000;}
strong { color:#444; }
pre { padding:12px;border:1px solid #ddd;margin:0 0 18px 0;background:#f8f8f8;
	white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -o-pre-wrap; }
pre code { margin:0;padding:0;display:block; }
p.note, p.devnote { padding:9px 0 9px 13px;color:#666;border:1px solid #ddd;border-left:2px solid #444; }
p.devnote { color:#700; }

/* Styling */
#main_header { margin:0 0 20px;background:#444;border-bottom:1px solid #ddd; }
#main_header h1 { margin:0;padding:10px 30px 20px;color:#bbb; }
#main_menu { width:300px;float:left;margin-bottom:20px;padding-bottom:30px;border-right:2px solid #ddd; }
#main_menu h2 { margin:0 0 18px 30px; }
#main_menu h3 { font-size:13px;font-weight:bold;margin:0 0 0 30px; }
#main_menu ol { margin:0 0 18px 30px;}
#main_menu li { margin:0;font-size:12px; }
#main_menu li span { margin-right:5px;width:2em;text-align:right;font-size:11px;color:#777; }
#main_menu a { text-decoration:none; }
#main_menu p { margin-left:30px; }
#main_content { margin: 0 20px 0 330px;padding-bottom:30px; }
#main_content li { list-style:disc; }
#main_content ol li { list-style:decimal; }
#main_footer { clear:both;margin:0 30px;padding:20px 0 0;border-top:2px solid #ddd; }
#main_footer p { font-size:12px;margin:0 0px 18px; }

.ajaxlink { text-decoration:none; }

code { display: inline; background: #EEEEEE; color: #333333; }
code:hover { background: #D7D7D7; }
