html, body {
	margin: 0;
	padding: 0;
}

#page-container {
	width: 760px;
	margin: auto;
	background: red;
}

#main-nav {
	background: red;
	height: 50px;
}
#main-header {
	background: blue;
	height: 100px;
}
#main-content {
	margin-right: 280px;
	background: green;
}
#main-sidebar {
	float: right;
	width: 280px;
	background: darkgreen;
}
#main-footer {
	clear: both;
	background: orange;
	height: 50px;
}