<p>This is the game of Hangman. You must guess a word, a letter at a time.
If you make too many mistakes, you lose the game!</p>
<list>
<li><a href="?misses={misses}&guesses={guesses}&word={word}&level={game_levels_easy}">Easy game</a>; you are allowed {game_levels_easy} misses.</li>
<li><a href="?misses={misses}&guesses={guesses}&word={word}&level={game_levels_medium}">Medium game</a>; you are allowed {game_levels_medium} misses.</li>
<li><a href="?misses={misses}&guesses={guesses}&word={word}&level={game_levels_hard}">Hard game</a>; you are only allowed {game_levels_hard} misses.</li>
</list>
